@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
:root {
    --colorDark: #2f3237;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: var(--colorDark);
    font-family: 'PT Sans', sans-serif;
}

#principal {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#menu {
    display: none;
    width: 20%;
    height: 100vh;
    background-color: green;
}

#header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

#header>img {
    cursor: pointer;
}

#random {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.quote {
    margin: 50px 0px;
}

#quote-info {
    max-width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    border-left: 3px solid white;
    padding-left: 30px;
}

#quote-info h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#quote-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 10px 20px;
    margin: 10px auto;
}

#quote-author a {
    text-decoration: none;
    color: white;
}

#quote-author:hover a, #quote-author:hover {
    background-color: white;
    color: var(--colorDark);
}

#quote-author h3 {
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0;
}

#quote-author p {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

@media (max-width: 590px) {
    #quote-info h2 {
        font-size: 20px;
    }
}